body {
    margin: 0;
    padding: 0;
    /*height: 100%;*/
}

main nav {
    width: 100%;
}

.navbar .content {
    padding: 0 3.5rem;
}

.wrapper {
    /*min-height: 100%;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    margin-bottom: 1rem;
}

.center-container {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    /*top: 50%;
    left: 50%;
    transform: translate(-50%, -10%);*/
}

.heading {
    font-size: 50px;
    padding-bottom: 0.7rem;
}

.jclogo {
    height: 400px;
    width: 400px;
}

footer {
    background-color: #9fd654;
    color: white;
    padding: 30px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer .icons {
    margin-left: 10px;
}

.footer-container {
    padding: 0 3rem;
}

.footer-container .row .links {
    display: flex;
    flex-direction: column;
}

.footer-container .row .links a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 300;
}

.footer-container .row .social-media-icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-container .row .company-logos {
    display: flex;
    justify-content: flex-end;
}

.footer-container .row .company-logos img {
    width: 10rem;
}

/*pop-up message for employees pop-up*/
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 50rem;
    height: 15rem;
}

.popup h2 {
    margin-top: 0;
    padding-bottom: 20px;
}

.main {
    padding: 1rem 4rem 0;
}

.main .header-main {
    text-align: center;

}

.redirectLink {
    padding-top: 20px;
    height: 100px;
    width: 400px;
    text-align: center;
}

.redirectLink a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/*RESPONSIVE PART*/

/*Height of device*/
@media only screen and (max-height:833px) {
    footer {
        position: relative;
    }
}

@media only screen and (max-width:455px) {

    /* smartphones, iPhone, portrait 480x320 phones */

    .wrapper {
        min-height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .wrapper .center-container {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -5%);

    }

    .heading {
        font-size: 25px;
        padding-bottom: 1.5rem;
    }

    .jclogo {
        height: 200px;
        width: 200px;
    }

    footer {
        position: fixed;
        bottom: 0;
        left: 0;
    }

    .main .header-main {
        font-size: 18px;
    }

    .main p {
        font-size: 15px;
    }

    th {
        font-size: 13px;
    }

}

@media only screen and (max-width:640px) {

    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
    .wrapper {
        min-height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .wrapper .center-container {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        /*top: 50%;
        left: 50%;
        transform: translate(-55%, -5%);*/

    }

    .heading {
        font-size: 25px;
        padding-bottom: 1.5rem;
    }

    .jclogo {
        height: 200px;
        width: 200px;
    }

    footer {
        position: fixed;
        bottom: 0;
        left: 0;
    }

    .main .header-main {
        font-size: 22px;
    }

    .main p {
        font-size: 19px;
    }


}

@media only screen and (max-width:854px) and (min-height: 903px) {

    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
    /*READY*/
    .wrapper .center-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
        padding-bottom: 3rem;
    }

    .center-container .logo-and-heading {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .center-container .buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    footer {
        position: fixed;

    }
}

/*READY*/
@media only screen and (max-width:991px) {
    .wrapper .center-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
        padding-bottom: 3rem;
    }

    .center-container .logo-and-heading {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .center-container .buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    footer {
        position: relative;
    }

    .footer-container .row .social-media-icons {
        display: none;
    }

    .footer-container .row .links {
        display: flex;
        flex-direction: column;
        padding-bottom: 1.7rem;
    }

    .footer-container .row .links a {
        color: #fff;
        text-decoration: none;
        font-size: 18px;
        font-weight: 300;
        text-align: center;
    }

    .footer-container .row .company-logos {
        display: flex;
        justify-content: center;
    }

    .footer-container .row .company-logos img {
        width: 8rem;
    }
}

/*READY*/
@media only screen and (min-width:992px) {
    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .wrapper .center-container {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .center-container .logo-and-heading {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .center-container .buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .center-container .buttons .new-employee a {
        font-size: 20px;
    }

    .center-container .buttons .already-employee a {
        font-size: 20px;
    }
}

/*READY*/
@media only screen and (min-width:1130px) {
    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .wrapper .center-container {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .center-container .logo-and-heading {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .center-container .buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .center-container .buttons .new-employee a {
        font-size: 20px;
    }

    .center-container .buttons .already-employee a {
        font-size: 20px;
    }
}