body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.center-container {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -10%);
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.heading {
    font-size: 50px;
    padding-bottom: 1.5rem;
}

.jclogo {
    height: 400px;
    width: 400px;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    color: white;
    padding: 30px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer .icons {
    margin-left: 10px;

}